<div class="body">
    <div class="wrapper login">
        <div class="container">
            <div class="col-left">
                <div class="login-text">
                    <h2>Welcome!</h2>
                    <p>Create your account.<br>For Free!</p> <a href="" routerLink="" class="btn">SignIn</a>
                </div>
            </div>
            <div class="col-right">
                <div class="login-form">
                    <div *ngIf="messageText" [ngClass]="messageClass">
                        {{messageText}}

                    </div>
                    <h2>SignUp</h2>
                    <form action="" [formGroup]="regForm" (ngSubmit)="createAccount()">
                        <p> <label>Username<span>*</span></label> 
                            <input type="text"placeholder="Username" required formControlName="username"> 
                        </p> 
                        <p> <label>Email<span>*</span></label> 
                            <input type="email"placeholder="email" required formControlName="email"> 
                        </p>
                        <p>
                             <label>Password<span>*</span></label> 
                             <input type="password" placeholder="Password"
                                required formControlName="password"> </p>
                        
                        <p> <input type="submit" value="SignUp"> </p>
                        <p> <a href="">Forgot password?</a> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>